*{
    margin: 0;
    padding: 0;
}
img{
    padding: 5px;
    height: 100%;
    width: 200px;
    border-radius: 5px;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border: 1px solid;
    text-align: center;
    box-shadow: 10px 10px 2px -2px rgba(0,0,0,1),-10px -10px 10px -2px rgba(36, 36, 36, 0.88);
     
}