* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  place-content: center;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(233, 235, 110);
}

img {
  width: 500px;
  height: 500px;
  /* border: 5px solid; */
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.1s ease-in;
}
img:hover {
  transform: scale(1.05);
}
p {
  font-size: 5rem;
}
