* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
  place-content: center;
  align-items: center;
}

.App button {
  font-size: 50px;
  padding: 5px;
  margin: 10px;
  
}
