#outer-circle {
  background: #385a94;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  border: 2px solid;
  box-shadow: 0px 0px 2px 5px #888888;
}
#inner-circle {
  position: relative;
  background: white;
  border: 2px solid;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  top: 100px;
  margin: 0px 0px 0px 100px;
  box-shadow: inset 0px 0px 2px 5px #888888;
}
#content {
  margin-top: 5%;
  margin-left: 20%;
}

#centerdot {
  position: relative;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: blue;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  z-index: 1;
}
#hour {
  width: 10px;
  height: 80px;
  position: absolute;
  left: calc(50% - 5px);
  top: calc(72px);
  background-color: black;
  border-radius: 10px;
  animation: second 2160s infinite linear;
  transform-origin: bottom;
}
#minute {
  width: 10px;
  height: 100px;
  position: absolute;
  left: calc(50% - 5px);
  top: calc(52px);
  background-color: black;
  border-radius: 10px;
  animation: second 90s infinite linear;
  transform-origin: bottom;
}
#second {
  width: 5px;
  height: 100px;
  position: absolute;
  left: calc(50% - 2.5px);
  top: calc(52px);
  background-color: red;
  border-radius: 10px;
  animation: second 1.5s infinite linear;
  transform-origin: bottom;
}
.dotup {
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 5px);
  top: 10px;
}
.dotright {
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 5px);
  left: 275px;
}
.dotleft {
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 5px);
  left: 10px;
}
.dotdown {
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 5px);
  top: 275px;
}

@keyframes second {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
