
body{
    background-color: gray;
}


.all{
    width: 50px;
    height: 70px;
    background-color: brown;
    border: 2px solid;
}
.all:hover{
    opacity: 0.9;
}

.boxclicked{
    background-color: rgb(41, 5, 5);
}
.container{
    display: grid;
    grid-template-columns:  auto auto auto auto auto auto;
    justify-content: center;
    height: 30%;
    align-content: center;
}

.numbers{
    display: flex;
    gap: 50px;
    justify-content: center;
}
#booked{
    display: flex;
    position: absolute;
    font-size: 30px;
    font-weight: bolder;
    left: 47%;
    top: 25px;
}
#remaining{
    display: flex;
    position: absolute;
    font-size: 30px;
    font-weight: bolder;
    left: 64%;
    top: 25px;
}


